.cabecalho{
    width: auto;
    padding: 20px;;
    color: black;
    text-align: center;
    font-size:xx-large;
    background-color: rgb(245, 230, 208); 

}
.conteudo{
    width: auto;
    padding:300px;;
    color: black;
    text-align: center;
    font-size:xx-large;
}


.rodape{
    width: auto;
    padding:20px;
    color: black;
    text-align: center;
    font-size:xx-large;
    background-color:darkgray;   
}